@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  max-width: 640px;
  margin: auto;
  margin-top: 80px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.title {
  background-color: darksalmon;
}
.btn-link {
  background-color: black;
  height: 56px;
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-top: 40px;
}